<head>
    <style>
       
     /*    .navbar ul li a:hover{
            background-color:navajowhite;
            border-radius:4px;
        }
*/
       
        #MuhNav a:hover {
            background-color: navajowhite;
            border-radius: 4px;
        }
        #MuhNav a {
            font-family: "Arial Black", Gadget, sans-serif;
        }
    </style>
  
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <p><font size="5">Mühendislik Fakültesi</font></p>
    <ul class="navbar-nav mx-auto" id="MuhNav">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Yönetim</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Staff" asp-action="Index">Personel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Bölümler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Öğrenci</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fakültemiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Duyurular</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">İletişim</a>
        </li>
    </ul>
</nav>

<h3 class="mt-5">Genel Bilgi</h3>
2008 yılında kurulan Fakültemizde,

<ul style="list-style:inside">
    <li>Bilgisayar Mühendisliği</li>
    <li>Bilgisayar Mühendisliği (İngilizce)</li>
    <li>Biyomedikal Mühendisliği</li>
    <li>Çevre Mühendisliği</li>
    <li>Elektrik - Elektronik Mühendisliği</li>
    <li>Endüstri Mühendisliği</li>
    <li>İnşaat Mühendisliği</li>

    <li>Makine Mühendisliği</li>

    <li>Mekatronik Mühendisliği</li>

</ul>

Düzce Üniversitesi Mühendislik Fakültesi 9 Mayıs 2008 tarihinde kurulmuş, 2009-2010 eğitim-öğretim yılından itibaren öğrenci almaya, 2013 yılından itibaren ilk mezunlarını vermeye başlamıştır.
   
İş dünyası ile işbirliği içerisinde, eğitim, uygulama ve araştırmalarıyla ulusal ve uluslararası düzeyde tercih edilen bir fakülte olma vizyonumuz doğrultusunda, Bilimsel teknolojiyi kullanarak, yüksek nitelikli, idealist, araştırıcı, geliştirici özelliklerde Mühendisler yetiştirme misyonumuza uygun olarak 22 Profesör, 19 Doçent, 46 Doktor Öğretim Üyesi, 3 Dr. Öğr. Gör., 2 Öğretim Görevlisi, 9 Dr. Arş. Gör., 41 Arş. Gör.  Olmak üzere 142 akademik personel ile eğitim-öğretim ve araştırma faaliyetlerimize devam etmekteyiz.

<h4>Sayılar</h4> 

Fakültemiz bünyesinde 8 farklı bölümde 200’ü yabancı uyruklu olmak üzere 3500’den fazla öğrencimiz bulunmaktadır. Bugüne kadar mezun ettiğimiz ve iş dünyasına kazandırdığımız 2500’den fazla genç mühendisimiz bulunmaktadır.

<h4>Bölümler</h4>

Düzce Üniversitesinde Bilgisayar Mühendisliği, Elektrik-Elektronik Mühendisliği, Makine Mühendisliği, İnşaat Mühendisliği, Biyomedikal Mühendisliği, Endüstri Mühendisliği, Mekatronik Mühendisliği ve Çevre Mühendisliği bölümlerinde eğitim öğretim devam etmekte, Bilgisayar, Elektrik-Elektronik, Makine ve İnşaat Mühendisliği bölümlerinde normal öğretim yanında ikinci öğretim programı da bulunmaktadır. Ayrıca Bilgisayar Mühendisliği bölümünde bu yıl ilk kez %100 İngilizce eğitim yapılacak İngilizce Bilgisayar Mühendisliği programı mevcuttur.

Düzce Üniversitesi Mühendislik Fakültesi bilim ve teknolojinin gelişmesine paralel olarak bölüm müfredatlarını dinamik bir şekilde güncellemekte, öğrencilerimize güncel teknoloji ve bilgileri aktarmaktadır. Son yıllarda önemli hale gelen Veri Bilimi, Nesnelerin İnterneti, Derin Öğrenme gibi alanlarda dünyadaki değişimle birlikte dersler okutmaya başladık.

Hızlı işleyen idari süreçlerle öğrencilerimizin ihtiyaçlarını gidermekteyiz.

<h4>Çift Anadal/Yan Dal</h4>

Düzce Üniversitesi Mühendislik Fakültesi bölümlerinde öğrencilerimizin aynı anda iki farklı bölümden mezuniyet diploması alabilecekleri çift anadal programları ve başka bir bölümden sertifika alabilecekleri yandal programları bulunmaktadır. Tüm bölümler birbirleri arasında yandal programı uygulamakta, eğitim müfredatları benzer bölümlerimiz çift anadal programı uygulamaktadır. Yandal ve çift anadal programları öğrencilerimize kendi okudukları bölüm dışında ilgi duydukları bir başka bölümde okuma imkanı sunmakta ve başarılı öğrencilerimiz tarafından yaygın olarak tercih edilmektedir.

<h4>Teknoparkla İlişkiler</h4>

Düzce Üniversitesi Teknoloji Geliştirme Bölgesinde yer alan Düzce Teknopark ve Teknoloji Transfer Ofisi ile birlikte çalışmalar yapılarak öğrencilerimizin derslerinden arta kalan zamanlarında kendilerini mesleki açıdan geliştirebilmeleri için imkanlar sunulmaktadır.

<h4>Öğrenci Toplulukları</h4>

Düzce Üniversitesi Mühendislik Fakültesinin en önemli özelliklerinden birisi barındırdığı öğrenci topluluklarıdır. Ağırlıklı olarak teknoloji, mühendislik ve bilim odaklı olmak üzere kişisel gelişime destek veren öğrenci topluluklarımız yer almaktadır. Topluluklar öğrencilerimizin kendi organizasyonları ile hem bilimsel etkinlikler hem de sosyal faaliyetler düzenleyebildikleri arkadaş canlısı ortamlardır. Bir çok öğrencimiz en az bir toplulukta üye olarak kendini yetiştirmekte ve geleceğe daha güvenle bakabilmektedir. Pandemi döneminde uzaktan eğitim yürütüldüğü dönemde dahi öğrenci toplulukları faaliyetlerini sürdürmüşlerdir.

TÜBİTAK, Sanayi Bakanlığı veya Teknofest Organizasyonu tarafından düzenlenen teknoloji yarışmalarına öğrenci topluluklarımız katılım göstermekte ve başarılı sonuçlar almaktadır. Elektrikli araçlar, otonom araçlar, model uydu, roket ve robot kategorilerinde düzenlenen  yarışmalara takımlarımızla katılım sağlayıp Türkiye finalinde yarışma hakkı elde etmiş bulunmaktayız. Bazı öğrenci topluluklarımız Ülkemiz genelinde tanınırlığa sahip olmuştur. Bunlardan biri Mekatek topluluğudur. Özellikle Teknofest yarışmaları Düzce Üniversitesi tarafından çok önemsenmekte ve öğrencilerimiz teşvik edilmektedir. Öğrencilerimizin ve topluluklarımızın ihtiyaçları Üniversitemiz tarafından karşılanmaktadır.

<h4>Erasmus ve Değişim Programları</h4>

Düzce Üniversitesi Mühendislik Fakültesi olarak aralarında Almanya ve İspanya’nın da bulunduğu çok sayıda ülkeden ileri gelen üniversitelerle Erasmus anlaşmaları yapmış bulunmaktayız. Bu sayede öğrencilerimiz değişim programları kapsamında Avrupanın ileri gelen üniversitelerinde bir veya iki dönem öğrencilik yapma veya teknoloji firmalarında staj yapma imkanına sahip olmaktadır. Erasmus, Farabi ve Mevlana gibi değişim programları ile hem öğrencilerimiz yurtiçi ve yurtdışındaki farklı üniversitelerde misafir öğrenci olarak bulunmakta hem de biz yurtdışından öğrencilere ev sahipliği yapabilmekteyiz. Böylece öğrencilerimizin farklı kültürlerden akranlarıyla bilgi ve kültür alış-verişi yapma imkanı oluşmaktadır.

<h4>Yabancı Öğrenciler</h4>

Fakültemizde dünyanın çeşitli ülkelerinden gelen yabancı uyruklu öğrencilerimiz bulunmakta ve çok farklı kültürel etkileşimler oluşmaktadır. Öğrencilerimiz, yabancı uyruklu arkadaşlarından onların ana dillerini öğrenme ve pratik yapma imkanına sahip olmaktalar. Kampüsümüz farklı ırk, renk, dil ve kültürlere sahip öğrencilerle cıvıl cıvıl bir ortam haline gelmekte.

<h4>Derslik ve Laboratuvarlar</h4>

Fakültemiz bünyesinde ders ve araştırmalara yönelik laboratuvar, derslikler ve idari ofis alanları içeren 9 bina bloku bulunmakta, bunların dışında dersliklere sahip iki merkezi derslik binasında hizmet vermekteyiz. Mühendislik Fakültesi, şehrin gürültü ve karmaşasından uzak, güvenilir ve huzurlu  ortama sahip Düzce üniversitesi merkez yerleşkesinin tam ortasında yer almakta ve sosyal alanların hepsine yakın mesafede bulunmaktadır.

Öğrencilerin sürekli kullanımına açık bilgisayar laboratuvarları, kütüphane, yemekhane ve kafeteryalarla öğrenci dostu bir ortam sunulmaktadır. Engelli öğrencilerimizin erişimi için gerekli düzenlemeler tüm binalarımızda bulunmaktadır.

<h4>Konum</h4>

Düzce Üniversitesi’nin, Ankara-İstanbul şehirlerinin tam ortasında olması ve Sakarya, Kocaeli, Zonguldak ve Bolu gibi sanayi, kültür ve madencilik alanında gelişmiş şehirlere oldukça yakın olması, Düzce sanayisinin gelişmesinde önemli bir rol oynamakta ve akademik anlamda da üniversite-sanayi işbirliğinin geliştirilmesine olanak sağlamaktadır. Değer üretmeyi kendisine amaç edinmiş olan üniversitemiz, gelişmekte olan kampüsü ve çevresi ile öğrencilerimizin eğitimlerini sürdürürken dolu dolu vakit geçirebilmelerine olanak sağlamaktadır.