@{
    ViewData["Title"] = "Home Page";
}


<h3 style="margin-top:3%">Düzce</h3>

<p>
    Tarihçe <br /><br />

    Düzce İlinin de içinde bulunduğu bölge Herodot, Xenophon ve Strabon gibi Antik Çağ yazarlarına göre M.Ö. 1200-700 yılları arasında Trakyalı halkların yurdu olarak bilinmektedir. M.Ö. 1000’de Batı Karadeniz’de bulunan koloni kentlerden biri Diospolis (Akçakoca), bir diğeri ise Hypios Nehri (Melen) yakınlarında bulunan Hypia’dır. Bu kentlerde Helenistik ve Roma Dönemlerinin derin izlerini taşıyan arkeolojik veriler bulunmaktadır.

    MÖ 6.yüzyılda Pers hükümdarı Darius tarafından Paflagonya, Frigya, Mariandinler ve Suriye ile birlikte Düzce’nin de içinde bulunduğu bölge 3. Satraplık Bölgesi haline getirilmiştir. Makedon Kralı Büyük İskender tarafından M.Ö. 334 yılından sonra imparatorluğun sınırları içine alınan bölge, Kralın M.Ö. 323’te Babil’de ölümü üzerine imparatorluğun generalleri arasında bölünmesi sonucunda da Bithynia Krallığı’na dahil edilmiştir.

    Bithynia, Anadolu’nun kuzeybatısında bugünkü Kocaeli Yarımadası’nın yer aldığı Antik bir bölgedir. Kuzeyinde Karadeniz, Doğuda Filyos Nehri (Billaios), batı ve güneybatıda Antik Phrygia Epictetus ile çevrilidir. Bölgede bugün Kocaeli, İznik, Yalova, Bursa, Bilecik, Sakarya, Düzce, Bolu ve Zonguldak illeri yer alır. Ayrıca; Khalkedon (Kadıköy), Nikomedia (İzmit), Astakos (Başiskele), Kios-Prusias ad Mare (Gemlik), Apameia/Myrleia (Mudanya), Prusa ad Olympium (Bursa), Nikaia (İznik), Bithynion-Claudiupolis (Bolu), Herakleia (KDZ Ereğli), Otroia (Yenişehir), Modrene (Mudurnu), Malagina (Mekece), Agrilion (Bilecik), Kabaia (Geyve), Thynias-Apollonia (Kefken Adası), Dia-Diospolis (Akçakoca) ve Prusias ad Hypium (Konuralp) Antik kentleri bulunmaktadır.

    Osmanlı İmparatorluğu Dönemi’nde Orhan Gazi’nin komutanlarından Akçakoca Bey tarafından 1319 yılında Akçakoca, 1323 yılında Konuralp Bey tarafından Konuralp, İslam coğrafyasına katılmıştır. Konuralp, 31 Mart 2014 tarihi itibariyle tüzel kişiliği kaldırılarak Düzce Merkez ilçesinin mahallerine dönüştürülmüştür. 1981 yılında belediye olan Düzce ise 9 Aralık 1999 tarihinde ülkemizin 81. ili olmuştur.
    <br /><br />
    Genel Bilgi <br /><br />

    Düzce ili idari yapı olarak 278 köy,114 mahalle ve 2 beldeden oluşmaktadır. Yüzölçümü 2593,00 km2, nüfusu ise 395.679’tur. İlde; Düzce Belediyesi (Merkez), Kaynaşlı, Çilimli, Gümüşova, Gölyaka, Yığılca, Akçakoca, Cumayeri ilçe belediyeleriyle Beyköy ve Boğaziçi belde belediyeleri olmak üzere toplam 10 belediye vardır.

    Düzce, doğu-batı yönünde uzanan D-100 Karayolu ile TEM Otobanı üzerinde yer almaktadır. Bu yollar il merkezinden geçmektedir. Bu konumu ile Düzce Avrupa ve Asya Kıtaları arasında transit yol üzerinde bulunmaktadır.

    Düzce, Batı Karadeniz’de bulunan şirin ve yemyeşil bir şehirdir. Sanayi faaliyetlerinin yanı sıra tarım, hayvancılık ve ormancılık halkın temel geçim uğraşları arasında yer almaktadır. Şehrin İstanbul ve Ankara gibi iki metropol kent arasında yer alması da ekonomik yapısını daha dinamik kılmaktadır. Batı Karadeniz’de ayakta kalan tek antik kent (Prusias ad Hypium) olması Düzce’yi tarihî açıdan da ayrıcalıklı bir konuma getirmektedir.

    Düzce, antik zenginlikleri, doğa harikaları ve kültürel varlıkları ile saklı bir cennet olarak nitelendirilmektedir. Düzce’de;  Prusias ad Hypium Antik Kenti, Konuralp Antik Tiyatro, Düzce Konuralp Müzesi, Kardüz Yaylası, Kızık Yaylası, Derebalık Yaylası, Pürenli Yaylası gibi yaylalar;  Güzeldere,  Samandere,  Aydınpınar ve Aktaş Şelalesi gibi şelaleler; Efteni Gölü, Topuk Göleti, Torkul Göleti, Hasanlar Baraj Gölü; Akçakoca sahilleri ve Ceneviz Kalesi gibi daha birçok doğa ve kültür harikası mekanlar ziyaretçilerini beklemektedir.
</p>
<div align="center">
    <img style="margin-top: 3%" src="~/a1.jpg" width="700" height="500" />
    <img style="margin-top: 3%" src="~/a2.jpg" width="700" height="500" />

    <img style="margin-top: 3%" src="~/a3.jpg" width="700" height="500" />


</div>